{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
Affichage des batiments
<div>
    {% for batiment in batiments %}
        <div>
            <strong>ID:</strong> {{ batiment.id }}
            <strong>Nom:</strong> {{ batiment.nom }}
        </div>
    {% else %}
        <div>Aucun batiment trouvé.</div>
    {% endfor %}
</div>
{% endblock %}
